#block-menu {
    background: #3175ba url(C:/Users/Minato/Downloads/Project/FontEnd-master/Final/Image/menubargradient.png) repeat-x;
    padding: 5px;
}

body {
	color: #444;
}

::selection { background: #39f; color: #fff; }

.clearfix:before, .grid-block:before,  .deepest:before, {
    content: "";
    display: table;
}

.clearfix:after, .grid-block:after, .deepest:after {
    clear: both;
}

/* hiden */
#menu {
    float: left;
}

.menu-dropdown {
    margin-bottom: -10px;
}

.menu-dropdown li.level1 {
    margin-right: 10px;
    padding-bottom: 10px;
}

.menu-dropdown .level1 {
    float: left;
}

/* .menu-dropdown li {
    position: relative;
} */

li {
    line-height: inherit;
}

.menu-dropdown li.active .level1 {
    color: #fff;
    background: #3276b9 url(C:/Users/Minato/Downloads/Project/FontEnd-master/Final/Image/menuactive_02.png) repeat-x;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.menu-dropdown a.level1 {
    font-family: Arial, Helvetica, sans-serif;
}

.menu a {
    text-decoration: none;
    display: block;
}

.menu-dropdown a.level1 > span {
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
}

.menu-dropdown .level1 > span {
    float: left;
}

/* .menu span {
    display: block;
} */

/* hiden */
/* .menu-dropdown a.level1 {
    color: #FFFFFF;
    border: 1px solid transparent;
} */

/* .menu-dropdown .dropdown {
    top: 39px;
    border: none;
} */

.menu-dropdown .dropdown {
    position: absolute;
    left: 0;
    z-index: 100;
}

.menu-dropdown .dropdown-bg > div {
    padding: 5px;
    border: 1px solid transparent;
    border-top: none;
    background: #328ae3 url(C:/Users/Minato/Downloads/Project/FontEnd-master/Final/Image/dropdowngradient.png) repeat-x;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.menu-dropdown .dropdown-bg > div {
    overflow: hidden;
}

/* .menu-dropdown .column {
    float: left;
} */

.width100 {
    width: 100%;
}

[class*='width'] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.menu-dropdown .small {
    font-size: inherit;
}

.menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.menu-dropdown li.level2:first-child {
    border: none;
}

.menu-dropdown li.level2 {
    margin: 2px;
    border: none;
}

.menu-dropdown a.level2 {
    border-radius: 3px;
    background: #082f57;
    color: #fff;
}

.menu-dropdown a.level2 > span {
    padding: 7px 0;
    line-height: 21px;
    overflow: hidden;
}

.menu-dropdown a.level2 > span {
    padding: 5px 6px;
}

.menu-dropdown ul.level3 {
    padding: 4px 4px 8px 4px;
}

.menu-dropdown li.level3 {
    font-size: 11px;
    line-height: 17px;
}

.menu-dropdown a.level3 {
    padding-left: 20px;
    background: url(C:/Users/Minato/Downloads/Project/FontEnd-master/Final/Image/menubullet.png) 5px 5px no-repeat;
    color: #fff;
}
