/* .upload input[type='file'] {
    opacity: 0;
    width: 120px;
    height: 160px;
    position: absolute;
} */

/* .formUp {
    border: 1px dashed black;
    width: 120px;
    height: 160px;
} */

/* form {
    width: 400px;
    height: 200px;
    position: absolute;
} */