body { background: white; font-size: 8pt; font-family:Arial; line-height: 120%; }
#content { width:480pt; }
#content h2 { color:black; padding-left:0 }
table.content_table { background:white; margin:0; padding:0; border:0 }
.noprint { display: none; }
@media print {
  .picandcom { page-break-inside: avoid; }
  .pgbreak { page-break-after: always; }
}