.upload input[type='file'] {
    opacity: 0;
    width: 120px;
    height: 160px;
    position: absolute;
}

.formUp {
    border: 1px dashed green;
    width: 120px;
    height: 160px;
    margin-bottom: 20px;
}
